<!DOCTYPE HTML>
<lasso-page name="browser/xhr" cache-key="browser/xhr" package-path="./browser.json" />

<html>
    <head><lasso-head/></head>
    <body>
        Hello world!!!
        <lasso-body/>
        <app-ajax model="data"/>
        <init-widgets/>
    </body>
</html>
